<section>

  <div class="banner-container">
    <div class="info-container">
    <h1>COFFEO</h1>
    <h2>An Online coffee store</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit doloremque laborum, tempora accusantium aut architecto nisi necessitatibus aperiam officiis sapiente eaque velit molestias quo! Vero corporis omnis error. Totam, accusantium.</p>

    <button class="button1">Explore our prodcuts</button>
    <button class="button2">Log in / sign up</button>
  </div>
    <!-- <img src="../../../assets/banner.png"> -->
  </div>


</section>
